
*{
    box-sizing: border-box;
}

.container{
display: flex;
justify-content: center;
height: 100%;
margin: 0 auto;
padding: 15px;
cursor: pointer;

}
.mobile_responsive{
   display:none;
}

.header{
    display: flex;
    justify-content: space-between;
    }

.header a{
    color: #331B3B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.16px;
    text-decoration: none;
    padding: 15px;
}
.header_right{
   margin:left auto;
}
.header_center a{
   display: flex;
  padding: 3rem;
  font-weight: 1000;
 font-size: 2rem;
  margin-top: -4rem;
  
}
.header_left{
   margin:right auto;
}

                          /* left content start */
.home{
    font-weight: 150;
}

.home_underline{
   display: flex;
   margin: 0 auto;
   padding: 0px 10px;
   margin-left:-55.3rem;
   margin-top: 1rem;
   max-width: auto;
   max-height:4px;
}
.facebook_icon{
   display: flex;
   margin-top: -10px;
}
.linkedin_icon{
   display: flex;
   margin-top: -13px;
}
.instagram_icon{
   border:2px solid#331B3B;
   border-radius: 60%;
   width: 38px;
   height: 37px;
}
.header_right{
   display: flex;
   flex-direction: row;
   }
                 /* content 1 start */
                 /* main-content start */
.main_content{
   display: flex;
   justify-content: center;
   height: 100%;
   margin: 0 auto;
   padding: 0px 20px;
  
   margin-top: -2rem;
   overflow: hidden;
}
.bussiness_underline{
   display: flex; 
   margin-top: -75px;
   position: relative;
   z-index: -1;
   margin-top: -4.8rem;
   
}
 .left-content{
   display: block;
   color: #331B3B;
font-family: a;
font-size: 59px;
font-style: normal;
font-weight: 50;
line-height: 99.8%;
letter-spacing: -0.87px;
padding-top: 200px;
 }
 .right-content img{
    display: flex;
    width: 900px;
    margin-right: -200px;
    margin-top: 10rem;
   }



 .lorem{
    color: rgba(51, 27, 59, 0.66);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.3%; /* 24.871px */
    letter-spacing: 0.34px;
 }
 .btn{
    background: #331B3B;
    padding: 15px 0px;
    color: #FFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    line-height: 137.3%;
    letter-spacing: 1.34px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    width: 160px;
 }
 /* content 1 close */
 /* content 2 start */

 .content_second{
   display: flex;
   justify-content: center;
   margin: 1px auto;
   background-image: url(image/Rectangle2.png);
   margin-left:-.4rem;
   background-repeat:no-repeat;
   position: relative;
   z-index: 1; 
   margin-top: 2rem;
  
}
 .what_we span p{
   font-style: normal;
   line-height: 106.3%;
   letter-spacing: -0.48px;
    }
 .what_we span{
   
   color: #331B3B;
   font-size: 62px;
   font-weight: 900;
   margin-left: 1rem;
   
   
 }
.what_we p{
   color: #331B3B;
   font-family: 'Times New Roman', Times, serif;
   font-size: 62px;
   font-weight:100;
   margin-left:-40rem;
   margin-top: 1rem; 
}
.what_we img{
   position: relative;
   margin-left: -24.7rem;
   top: -5.3rem;
   z-index: -1;
   width: 13.5rem;
  
}
.two-arrow{
   display: flex;
margin-left: -74rem;
margin-top: 25rem;
}
.arrow_2{
  rotate: 180deg; 
  margin-top: 0.39rem;
}

         /* website developer start*/
 .part_one{
   display: flex;
   border-radius: 10px;
   background: #FFF;
   box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.05);
   margin-left:-68rem;
   margin-top: 13rem;
   max-height:14rem ;
   width: 20rem;
    
 }
 .part_one img{ 
   padding: 8px;
   border-radius: 10px;
   background: #FFDED4;
   margin-left: 1.3rem;
   margin-top: 2rem;
   

}
.part_one h2{
   color: #331B3B;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 117.3%; 
   letter-spacing: 0.88px;
   text-transform: uppercase;
   margin-top: 5.8rem;
   margin-left: -3rem;
   width: 200px;

}
.part_one p{
   color: rgba(51, 27, 59, 0.66);
   font-family:Arial, Helvetica, sans-serif;
   font-size: 15px;
   font-style: normal;
   font-weight: 300;
   line-height: 145.3%; /* 21.795px */
   letter-spacing: 0.3px;
   margin-top:8rem;
   margin-left:-12.5rem;
}

.part_two img{
   padding: 10px;
   border-radius: 10px;
   background: #FFEED4;
   margin-left: 1.3rem;
   margin-top: 2rem;
}

.part_two{
   border-radius: 10px;
   background: #FFF;
   box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);display: flex;
   margin-left:3rem;
   margin-top: 13rem;
   max-height:14rem ;
   width: 20rem;
 }

 .part_two h2{
   color: #331B3B;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 117.3%; 
   letter-spacing: 0.88px;
   text-transform: uppercase;
   margin-top: 5.8rem;
   margin-left: -3rem;
   width: 200px;
 }
 .part_two p{
   color: rgba(51, 27, 59, 0.66);
   font-family:Arial, Helvetica, sans-serif;
   font-size: 15px;
   font-style: normal;
   font-weight: 300;
   line-height: 145.3%; /* 21.795px */
   letter-spacing: 0.3px;
   margin-top:8rem;
   margin-left:-12.5rem;
}
.part_three img{
   padding: 10px;
   border-radius: 10px;
   background: #D4F0FF;
   margin-left: 1.3rem;
   margin-top: 2rem;
}

.part_three{
   border-radius: 10px;
   background: #FFF;
   box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);display: flex;
   margin-left:3rem;
   margin-top: 13rem;
   max-height:14rem ;
   width: 20rem;
 }

 .part_three h2{
   color: #331B3B;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 117.3%; 
   letter-spacing: 0.88px;
   text-transform: uppercase;
   margin-top: 6.8rem;
   margin-left: -4rem;
    }
 .part_three p{ 
   color: rgba(51, 27, 59, 0.66);
   font-family:Arial, Helvetica, sans-serif;
   font-size: 15px;
   font-style: normal;
   font-weight: 300;
   line-height: 145.3%; /* 21.795px */
   letter-spacing: 0.3px;
   margin-top:9rem;
   margin-left:-15.2rem;
}
/* content 3 start */
.content_third{
   display: flex;
justify-content: center;

}
.content_third_left img{
   
   display: flex;
   width: 60rem;
   margin-left: -10rem;
   margin-top: 8rem;
}
.content_third_right{
   display: block;
   margin: left auto;
   margin-top:15rem;
   
}

.content_third_right img{
   display: flex;
   margin-left: 10.7rem;
   margin-top: -3.3rem;
   width: 100px;
   position: relative;
   z-index: -1;
}
.content_third_right span{
   
   font-weight: 700;
   font-size:50px ;
}
.content_third_right h2{
   display: block;
   color: #331B3B;
   font-family: sans-serif;
   font-size: 48px;
   font-style: normal;
   font-weight: 300;
   line-height: 106.3%;
   letter-spacing: -0.48px;
   /* margin-left: 15rem; */
   /* margin-top:-23rem; */
}
.content_third_right p{
   display: block;
   font-size: 14px;
   font-weight:200;
}

.button p{
   background: #331B3B;
   padding: 15px 0px;
   color: #FFF;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 17px;
   font-style: normal;
   line-height: 137.3%;
   letter-spacing: 1.34px;
   text-transform: uppercase;
   text-align: center;
   border-radius: 10px;
   width: 160px;
   /* margin-left: 45rem; */
   
   
}
/* content 4 start */
.content_four{
  
   display: flex;
  background-image: url(image/Rectangle13.png);
 margin-top: 10rem; 
 background-repeat:no-repeat;
 position: relative;
 z-index: 1; 

}


.content_four_up h2{
color: #331B3B;
font-family: Arial, Helvetica, sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 300;
line-height: 106.3%;
letter-spacing: -0.48px;
margin-left: -5rem;
}

.content_four_up span{
   font-weight:700;
}

.content_four_up img{
   display: flex;
   margin-top: -3.3rem;
   margin-left: 5rem;
   width:10rem;
   position: relative;
   z-index: -1;
}

.content_four_up p{
   color: #331B3B;
   font-family: sans-serif;
   font-size: 17px;
   font-style: normal;
   font-weight: 400;
   line-height: 146.3%; 
   letter-spacing: 0.34px;
   margin-left: 40rem;
   margin-top: -5rem;
}
.four_part_one h1{
   /* display: flex; */
   margin-left:  -57rem;
   margin-top:-4rem;
}
.four_part_one p{
   display: flex;
   justify-content: center;
   margin-left: -44rem;
   margin-top:-2.5rem;
   border-radius: 100px;
   border: 1px solid #343434;
   padding:3px;
   width: 6rem;
   
}

.content_four_part_one{
display: flex;
justify-content: space-between;
margin-left: -58rem;
margin-top: 12rem;
border-radius: 10px;
background: #FFF;
box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
padding: 1rem 1rem 4.5rem 1rem;
width: 21rem;

}
.four_part_two h1{
   /* display: flex; */
   margin-left:29rem;
   margin-top:-3rem;
}
.four_part_two p{
   display: flex;
   justify-content: center;
   margin-left: 42rem;
   margin-top:-2.6rem;
   border-radius: 100px;
   border: 1px solid #343434;
   padding:3px;
   width: 6rem;
   
}

.content_four_part_two{
   display: flex;
   justify-content: space-between;
   margin-left: -34.5rem;
   margin-top: -17.3rem;
   border-radius: 10px;
   background: #FFF;
   box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
   padding: 1.5rem 0.5rem 4rem 0.5rem;
   width: 20rem;
   
   }
   .four_part_three h1{
      /* display: flex; */
      margin-left: 52rem;
      margin-top:-2.9rem;
   }

   .content_four_part_three{
      
      /* display: flex; */
      /* justify-content: space-between; */
      margin-left: 51rem;
      margin-top: -18.2rem;
      border-radius: 10px;
      background: #FFF;
      box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
      padding: 0.5rem 0rem 2.5rem 1rem;
      width: 13rem;
      }
      .arrow_3{
         margin-left:2rem;
         margin-top: 1rem;
      }
      .arrow_4{
         display: flex;
         rotate:180deg;
         margin-left: 5rem;
         margin-top: -2.96rem;
      }

      /* content 5 start */
 .five_text_area h2{
         color: #331B3B;
         text-align: center;
         font-family: sans-serif;
         font-size: 44px;
         font-style: normal;
         font-weight: 200;
         letter-spacing: -0.48px;
         margin-top: -140rem;
      }
      .five_text_area span{
         color: #331B3B;
         font-family: sans-serif;
         font-size: 48px;
         font-style: normal;
         font-weight: 700;
         line-height: 110.8%;
         letter-spacing: -0.48px;
      }
      .five_part_area{
         display: flex;
         justify-content: center;
         justify-content: space-between;
         margin-left: 6rem;
         margin-right: 6rem;
         padding: 2rem;
        
         }
      .five_text_area img{
         width:128px;
         height:12px;
         display: flex;
         margin-left: 46rem;
         margin-top: -3.5rem;
         position: relative;
         z-index: -1;
         
      }
      .five_part_one{
         width: 448px;
         height: 310px; 
         background: #FFF;
         box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
      }
      .five_part_image3{
         padding:  2rem;
         margin-left: -1rem;
      }
      .five_part_one p{
         padding: 0rem 0rem 1rem 2rem;
      }
      .five_part_image4{
         display: flex;
         padding: 0rem 0rem 1rem 2rem;
         margin-top: -1.5rem;
      }
      .five_part_one h3{
         display: flex;
         margin-left: 20rem;
         margin-top: -1rem;
         color: #000;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 16px;
         font-style: normal;
         font-weight: 600;
         line-height: 159.3%; 
         letter-spacing: 0.32px;
      }
 
      .five_part_two{
         width: 448px;
         height: 310px; 
         background: #FFF;
         box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
      }
      .five_part_image1{
         padding:  2rem;
         margin-left: -1rem;
      }
      .five_part_two p{
         padding: 0rem 0rem 1rem 2rem;
      }
      .five_part_image2{
         padding: 0rem 0rem 1rem 2rem;
      }
      .five_part_two h3{
         display: flex;
         margin-left: 20rem;
         margin-top: -2rem;
         color: #000;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 16px;
         font-style: normal;
         font-weight: 600;
         line-height: 159.3%; 
         letter-spacing: 0.32px;
      }

      /* footer_area start */
footer{
         display: flex;
         justify-content: center;
         background-image:url(image/Rectangle39.png) ;
         background-repeat: no-repeat;
         border-radius: 0px 158px 0px 0px;
         margin-left: -2rem;
}
      .footer_text_area{
         display: flex;
         color: #ffffff;
         font-family: sans-serif;
         font-style: normal;
      }
      .footer_text_area span{
         font-size: 36px;
         font-weight: 700;
         letter-spacing: 0.36px;
      }
      .footer_text_area h1{
         font-weight: 100;
         line-height: 159.3%; 
         letter-spacing: 0.32px;
         padding: 3rem;
         font-size: 16px;
      }
      
      .footer_text_area p{
         font-weight: 600;
         line-height: 159.3%;
         letter-spacing: 0.32px;
         text-transform: uppercase;
         margin-top: 15rem;
         margin-left:-31rem;
         font-size: 20px;
      }
      .footer_email_area input[type=email]{
         display: flex;
          width: 263px;
          height: 52px; 
          background-color: #000;
          color: #FFF;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 159.3%;
          letter-spacing: 0.32px;
          text-transform: uppercase;
          margin-top:18rem;
          margin-left: -11rem;
          
      }
      .footer_email_area {
         display: flex;
         padding:2rem ;
      }
      .footer_email_area button{
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            font-family: sans-serif;
            padding: 25px 15px;
            height: 3rem;
            width: 10rem; 
            cursor: pointer;
            color: #000;
            letter-spacing: 0.32px;
            text-transform: uppercase;
            border: 1px solid #FFF;
            background: #FFF;
            margin-top:18rem;
            text-align: center;

          }
          .footer_map_area{
            margin-left: 10rem;
            padding: 7rem 0rem 0rem 5rem;
           
          }

 
      /* footer_area close */
/*       media qurrie  start*/

/* Large Screen */
@media only screen and (max-width: 1200px) {

   .home_underline{
       margin-left:-68.3rem;
       margin-top: 1em;
       height:2px ;
   }
   .header_center a{
     margin-top: -4rem;
     padding-right: 16rem;
     
     
   }
   .content_second{
      margin-left:-.44rem;
      width: 74.8rem;
}
.what_we{
   margin-left:70rem;
}
.content_second_parts{
   display: flex;
   margin-left:7rem ;
}
.content_third{
   display: flex;
   justify-content: center;
   align-items: center;
}
.content_third_right p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   word-spacing: .2px;
   letter-spacing:.3px ;
   line-height: 1rem;
}
.content_four{
   display:block;
   margin-left: 9.7rem;
}
.content_four_up p{ 
   margin-left:36.5rem;
   font-size: 1rem;
}
.content_four_up{
   margin-left: -4rem;
}
.content_four_bottom{
   margin-top:-5rem;
   
}
.content_four_one {
   
margin-left:63rem;

}
.five_text_area h2{
   display: block;
   justify-content: center;
   align-items: center;

}
.five_text_area{
   margin-top: 143rem;
   height: 10rem;
 
}
footer{
   margin-left: -0.5rem;
   width: 74rem;
}
 .footer_map_area{
   margin-left: 10rem;
   padding: 8rem 0rem 0rem 1rem;
  
 }

}
/* Laptop Screen */
@media only screen and (max-width: 992px) {
   body{
      overflow-x: hidden;
   }
   .home_underline{
      margin-left:-58.3rem;
      margin-top: 1em;
      height:2px ;
  }
  .header_center a{
    margin-top: -4rem;
    padding-right: 3em;
    
    
  }
  .bussiness_underline{
   display: flex; 
   margin-top: -75px;
   position: relative;
   z-index: -1;
   margin-top: -4.8rem;
   
}
.lorem{
   color: rgba(51, 27, 59, 0.66);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 13px;
}
.left-content{
   display: block;
   color: #331B3B;
  font-size:59px;
  padding-top: 10px;
  
 }
   .right-content img{
      display: flex;
      width: 600px;
      margin-right: -150px;
      margin-top: 1rem;
     }
  .content_second{
     /* margin-left:-0rem; */
     width: 61.8rem;
}
.what_we{
  margin-left:70rem;
}
.content_second_parts{
  display: flex;
  margin-left:5.6rem ;
  margin-top: -1rem;

}

.part_two{
   margin-left:0.2rem ;
}
.part_three{
   margin-left:0.2rem ;
}
.arrow_1{
   margin-left:15rem;
   margin-top: 3rem;
}
.arrow_2{

margin-left: 0.5rem;
margin-top: 3.4rem;
}
.content_third{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.content_third_left{

   margin-left: -3.6rem;
   margin-top: -7rem;
}
.content_third_right{
   margin-left: -4rem;
  
}

.content_four{
  display:block;
  margin-left:auto;
  margin-top: 3rem;
  
}
.content_four_up p{ 
  margin-left:22.5rem;
  font-size: 1rem;
}
.content_four_up{
  margin-left: 5rem;
}
.content_four_bottom{
  margin-top:-5rem;
  margin-left: -3.4rem;
  
}
.content_four_arrow{
   margin-left: 2.5rem;
}
.content_four_one {
  
margin-left:63rem;

}

.five_text_area h2{
  display: block;
  justify-content: center;
  align-items: center;

}
.five_text_area{
  margin-top: 143rem;
  height: 10rem;

}
.five_text_area img{
   margin-left: 39.5rem;
}
.five_part_one{
   margin-left: -1rem;
}
.five_part_one p{
   margin-top: -1rem;
   font-size: 14px;
   margin-left: -1rem;
}
.five_part_one h3{
   margin-top: 3rem;
 margin-left: 15rem;
}
.five_part_two{
   margin-left: 3rem;
}
.five_part_two p{
   margin-top: -1rem;
   font-size: 14px;
   margin-left: -1rem;
}
.five_part_two h3{
   margin-top: -2.1rem;
 margin-left: 15rem;
}
.five_part_image2{
   margin-top: 2rem;
}
footer{
  margin-left: -0.5rem;
  width: 61.6rem;
}
.footer_map_area{
  margin-left: 3rem;
  padding: 8rem 0rem 0rem 1rem;
  
}


}
 /* Tablet Screen */
@media only screen and (max-width: 768px) {
   body{
      overflow-x: hidden;
   }
   .mobile_responsive{
      display: flex;
   } 
   .agency{
      display: flex;
      margin-left: 21rem;
      margin-top: .4rem;
   }
   .header{
      display: none;
  }


.left-content{
   font-size:49px;
 }
.left-content img{
   margin-top: -4.1rem;
}
  .content_second{
     margin-left:-.3rem;
     width: 47.5rem;
     
}
.what_we{
  margin-left:57rem;
  margin-top: 1rem;
}
.content_second_parts{
  display:flex;
}
.part_one{
  margin-left: -52.5rem;
}
.part_two{
 margin-left:3rem ;
}
.part_three{
   margin-top: 30rem;
   margin-left:-35rem ;
}
.arrow_1{
   display: none;

}
.arrow_2{
   display: none;
}
.content_third{
  display: block;
  justify-content: center;
  align-items: center;
  
}
.content_third_left{
   margin-left: 3rem;
}
.content_third_right{
  margin-left:11rem;
  margin-top: 4rem;
  
}
/* content_third close */
/* content_four start */
.content_four{
  display:block;
  margin-top: 3rem;
  
}
.content_four_up p{ 
  margin-left:20.5rem;
  font-size: 10px;
}

.content_four_up{
  margin-left: 5rem;
}
.content_four_bottom{
  margin-top:-5rem;
  margin-left: -3.4rem;
  
}
.content_four_arrow{
   display: none;
}
.content_four_part_three {
  
margin-left:36rem;
margin-top: 2rem;
}
.four_part_three{
   margin-left:-15rem;
}

.five_text_area h2{
  display: block;
  justify-content: center;
  align-items: center;

}
.five_text_area{
  margin-top: 143rem;
  height: 10rem;

}
.five_text_area img{
   margin-left: 32.5rem;
}
.five_part_one{
   margin-left: -3rem;
}
.five_part_one p{
   margin-top: -1rem;
   font-size: 14px;
   margin-left: -1rem;
}
.five_part_one h3{
   margin-top: -1rem;
 margin-left: 9rem;
}
.five_part_two{
   margin-left: 3rem;
}
.five_part_two p{
   margin-top: -1rem;
   font-size: 14px;
   margin-left: -1rem;
}
.five_part_two h3{
   margin-top:-2.1rem;
 margin-left: 9rem;
}
.five_part_image2{
   margin-top: -2rem;
  
}
footer{
  margin-left: -0.5rem;
  width: 47.5rem;
}
.footer_text_area span{
   font-size: 18px;
   /* margin-left: -3rem; */
}
.footer_text_area h1{
   position: absolute;
   font-size: 10px;
   margin-left:-19rem;
}
.footer_text_area p{
  position: absolute;
   margin-left: -16.5rem;
 
}
.footer_email_area{
   position: relative;
   margin-left: -8rem;
}
.footer_map_area{
   position: absolute;
  margin-left: 22rem;
  padding: 7rem 0rem 0rem 0rem;
  
}

}
/* Mobile Screen */
@media(max-width: 600px) { 
   body{
      overflow-x: hidden;
   }
   .mobile_responsive{
      display: flex;
   } 
   .agency{
      display: flex;
      margin-left: 15rem;
      margin-top: .4rem;
   }
   .header{
      display: none;
  }

.main_content{
   display: block;
}

  .content_second{
     margin-left:-.2rem;
     width: 37rem;
     
}
.what_we{
  margin-left:54rem;
  margin-top: 1rem;
}
.content_second_parts{
  display:block;
}
.part_one{
  margin-left:-43rem;
}
.part_two{
 margin-left:-43rem ;
 margin-top: 2rem;
}
.part_three{
   margin-top: 2rem;
   margin-left:-43rem ;
}


.content_third_left{
   margin-left:-2rem;
   margin-top: -30rem;
}

/* content_third close */
/* content_four start */

.content_four_up p{ 
  margin-left:10.5rem;
  font-size: 10px;
  margin-top: 2rem
}

.content_four_up{
  margin-left: 5rem;
}
.content_four_bottom{
   display: block;
  margin-top:-5rem;
  margin-left: -3.4rem;
  
}
.content_four_arrow{
   display: none;
}
.content_four_part_three {
  
   margin-left:26.5rem;
   margin-top: 2rem;
   }
   .content_four_part_one{
      margin-left: -44.35rem;
   }
   .four_part_one{
      margin-left:14rem;
      }
.content_four_part_two{
   margin-top: 3rem;
   margin-left: -43.5rem;
}
.four_part_two{
margin-left: -9rem;
}
.four_part_three{
   margin-top: 1rem;
   margin-left:-23rem;
   
}
.four_part_three h1{
font-size:1.31rem ;
}
/* content 5 start */
.five_part_area{
   display: block;
}
.five_text_area img{
   margin-left: 27.5rem;
}
.five_part_one h3{
   font-size: 1.5rem;
   margin-left: 20rem;
   margin-top: 2rem;
}
.five_part_image4{
   margin-top: -3rem;
   margin-left: -1rem;
}
.five_part_two{
   margin-top: 1rem;
   margin-left: -3rem;
}

.five_part_two h3{
   font-size: 1.5rem;
   margin-left: 20rem;
}
.five_part_image2{
   margin-top: 2rem;
   margin-left: -1rem;
}
footer{
  margin-left: -0.5rem;
  width: auto;
}
.footer_text_area span{
   font-size: 18px;
   /* margin-left: -3rem; */
}
.footer_text_area h1{
   position: absolute;
   font-size: 10px;
   margin-left:-0rem;
   margin-top:-3rem;
}
.footer_text_area p{
  position: absolute;
   margin-left: 7rem;
   margin-top:20rem;
}
.footer_email_area{
   position: relative;
   margin-left: 8rem;
   margin-top:2.5rem;
}
.footer_map_area{
   position: absolute;
  margin-left: 0rem;
  padding: 7rem 0rem 0rem 0rem;
  
}
}